body  {margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.div1{
	text-align: center;
	width: 100%;
	padding: 15px;
}
* {
    box-sizing: border-box;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
